In [2]:
import pandas as pd

In [213]:
# Pour charger les csv d'exemple, clic droit sur les fichiers/Copy Path, puis mettre ce chemin dans une r-string comme dans l'exemple ci-dessous


# events = pd.read_csv(r'C:\Users\Rachid\Desktop\Telecom BGD\SQL\NoSQL\projet_final\gdelt2HeaderRows\schema_csvs\GDELT_2.0_Events_Column_Labels_Header_Row_Sep2016.csv', delimiter= ',')
# mentions = pd.read_csv(r'C:\Users\Rachid\Desktop\Telecom BGD\SQL\NoSQL\projet_final\gdelt2HeaderRows\schema_csvs\GDELT_2.0_eventMentions_Column_Labels_Header_Row_Sep2016.tsv', delimiter = '\t', header = None, index_col=False)
# gkg = pd.read_csv(r'C:\Users\Rachid\Desktop\Telecom BGD\SQL\NoSQL\projet_final\gdelt2HeaderRows\schema_csvs\GDELT_2.0_gdeltKnowledgeGraph_Column_Labels_Header_Row_Sep2016.tsv', delimiter = '\t')

# mentions

FileNotFoundError: [Errno 2] No such file or directory: 'GDELT_2.0_eventMentions_Column_Labels_Header_Row_Sep2016.tsv'

In [65]:
events_header = events.tableId.to_numpy()
mentions_header = [mentions.iloc[i,1] for i in range(len(mentions))]
gkg_header = gkg.tableId.to_numpy()
mentions_header

['GLOBALEVENTID',
 'EventTimeDate',
 'MentionTimeDate',
 'MentionType',
 'MentionSourceName',
 'MentionIdentifier',
 'SentenceID',
 'Actor1CharOffset',
 'Actor2CharOffset',
 'ActionCharOffset',
 'InRawText',
 'Confidence',
 'MentionDocLen',
 'MentionDocTone',
 'MentionDocTranslationInfo',
 'Extras',
 'Add New Fields']

In [200]:
category2cols = {
        'export': [0, 1, 2, 5, 15, 53],
        'mentions': [0, 1, 2],
        'gkg': [0, 1, 3, 7, 9, 11, 15]
    }

In [208]:
gkg_header[category2cols['gkg']]

array(['GKGRECORDID', 'DATE', 'SourceCommonName', 'Themes', 'Locations',
       'Persons', 'V2Tone'], dtype=object)

# 1 - GKG files

In [214]:

gkg_data = pd.read_csv('20150218230000.gkg.csv', delimiter = '\t', engine='python', header=None, names=gkg_header)
print(gkg_data.columns)
print(gkg_data.Locations[0] + "\n")
print(gkg_data.Locations[3])
"".join([letter for letter in gkg_data.Locations[5].split('#')[3] if not letter.isdigit()])
gkg_data

Index(['GKGRECORDID', 'DATE', 'SourceCollectionIdentifier', 'SourceCommonName',
       'DocumentIdentifier', 'Counts', 'V2Counts', 'Themes', 'V2Themes',
       'Locations', 'V2Locations', 'Persons', 'V2Persons', 'Organizations',
       'V2Organizations', 'V2Tone', 'Dates', 'GCAM', 'SharingImage',
       'RelatedImages', 'SocialImageEmbeds', 'SocialVideoEmbeds', 'Quotations',
       'AllNames', 'Amounts', 'TranslationInfo', 'Extras'],
      dtype='object')
4#Budapest, Budapest, Hungary#RS#HU05#47.5#19.0833#-850553;4#Ogarevo, Kaluzhskaya Oblast', Russia#RS#RS25#55.2031#35.8328#139814;1#Hungary#RS#HU#47#20#HU;4#Rossiya, Orenburgskaya Oblast', Russia#RS#RS55#52.4#54.9833#-2993111;4#Maydan, Zakarpats'ka Oblast', Ukraine#RS#UP25#48.6031#23.4741#-1046268;1#Ukraine#RS#UP#49#32#UP;1#Russia#RS#RS#60#100#RS;4#Luhansk, Luhans'ka Oblast', Ukraine#RS#UP14#48.567#39.3171#-1045160;4#Novorossiya, Primorskiy Kray, Russia#RS#RS59#43.3427#132.556#11462001

2#Wisconsin, United States#US#USWI#44.2563#-89.6385#WI;3#Chicago, Illinois, United States#US#USIL#41.85#-87.6501#423587

,GKGRECORDID,DATE,SourceCollectionIdentifier,SourceCommonName,DocumentIdentifier,Counts,V2Counts,Themes,V2Themes,Locations,...,GCAM,SharingImage,RelatedImages,SocialImageEmbeds,SocialVideoEmbeds,Quotations,AllNames,Amounts,TranslationInfo,Extras
0,20150218230000-0,20150218230000,2,BBC Monitoring,as listed in Russian /BBC Monitoring/(c) BBC,"ARREST#400#political#4#Rossiya, Orenburgskaya ...","ARREST#400#political#4#Rossiya, Orenburgskaya ...",TERROR;REBELS;TAX_ETHNICITY;TAX_ETHNICITY_UKRA...,"TAX_FNCACT,2011;TAX_FNCACT,3449;TAX_FNCACT,381...","4#Budapest, Budapest, Hungary#RS#HU05#47.5#19....",...,"wc:693,c1.1:1,c1.2:1,c12.1:43,c12.10:58,c12.11...",NaN,NaN,NaN,NaN,1332|134||prisoners are treated humanely ; the...,"Channel One,628;Channel One,755;Channel One,14...","3,channels,476;3,channels reported,824;1,corre...",NaN,NaN
1,20150218230000-1,20150218230000,2,BBC Monitoring,"Al-Sharq al-Awsat website, London/BBC Monitori...",NaN,NaN,TAX_FNCACT;TAX_FNCACT_ENVOY;TAX_ETHNICITY;TAX_...,"IDEOLOGY,6790;IDEOLOGY,10592;KILL,1960;KILL,13...",1#Qatar#SA#QA#25.5#51.25#QA;1#Syria#SA#SY#35#3...,...,"wc:2376,c1.2:1,c1.4:7,c12.1:163,c12.10:276,c12...",NaN,NaN,NaN,NaN,332|26||greatly complicate matters#4494|37||ma...,"Emrullah Isler,83;Arab Spring,3571;Development...","2,fronts at the political,1455;2,main strategi...",NaN,NaN
2,20150218230000-2,20150218230000,1,wjon.com,http://wjon.com/wjon-news-on-demand-wednesday-...,NaN,NaN,MANMADE_DISASTER;MANMADE_DISASTER_WITHOUT_POWE...,"MANMADE_DISASTER,91;POWER_OUTAGE,91;",NaN,...,"wc:93,c12.1:7,c12.10:10,c12.12:5,c12.13:4,c12....",http://wac.450F.edgecastcdn.net/80450F/wjon.co...,http:/wac.450F.edgecastcdn.net/80450F/wjon.com...,NaN,https://youtube.com/channel/;https://youtube.c...,NaN,"Waite Park,125;City Food,233;Adobe Flash Playe...","500,people were without power,51;",NaN,NaN
3,20150218230000-3,20150218230000,1,wjol.com,http://www.wjol.com/common/more.php?m=15&r=3&i...,NaN,NaN,LEADER;TAX_FNCACT;TAX_FNCACT_GOVERNOR;TAX_POLI...,"TAX_FNCACT,131;TAX_POLITICAL_PARTY,664;TAX_FNC...","2#Wisconsin, United States#US#USWI#44.2563#-89...",...,"wc:103,c12.1:4,c12.10:13,c12.12:7,c12.13:6,c12...",NaN,NaN,NaN,NaN,NaN,"Governor Rauner,41;Speaker Michael Madigan,158...",NaN,NaN,NaN
4,20150218230000-4,20150218230000,1,straitstimes.com,http://www.straitstimes.com:80/news/world/unit...,NaN,NaN,DRONES;TAX_WORLDMAMMALS;TAX_WORLDMAMMALS_MICE;...,"TAX_FNCACT,634;TAX_FNCACT,1248;TAX_FNCACT,907;...","1#United States#US#US#38#-97#US;3#Miami, Flori...",...,"wc:255,c12.1:10,c12.10:28,c12.12:11,c12.13:7,c...",http://www.straitstimes.com/sites/straitstimes...,NaN,NaN,NaN,NaN,"United States,583;Columbia University Medical ...","5,weeks,1194;",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3183,20150218230000-203,20150218230000,1,theaustralian.com.au,http://www.theaustralian.com.au/business/finan...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_CHIEF;TAX_FNCACT_EXECUTI...,"TAX_FNCACT,552;TAX_ETHNICITY,1171;TAX_ETHNICIT...",1#Australia#AS#AS#-27#133#AS,...,"wc:300,c1.2:7,c12.1:8,c12.10:23,c12.12:3,c12.1...",http://resources.news.com.au/cs/theaustralian/...,NaN,NaN,NaN,NaN,"Craig Meller,647;Dow Jones,1941","884000000,dollars ,65;672000000,dollars result...",NaN,NaN
3184,20150218230000-204,20150218230000,1,yahoo.com,http://finance.yahoo.com/news/chg-healthcare-s...,NaN,NaN,MEDICAL;TAX_WORLDLANGUAGES;TAX_WORLDLANGUAGES_...,"GENERAL_HEALTH,1512;TAX_FNCACT,1339;TAX_FNCACT...",1#United States#US#US#38#-97#US,...,"wc:278,c1.2:4,c12.1:21,c12.10:22,c12.12:4,c12....",http://l2.yimg.com/bt/api/res/1.2/6rik6AZwuPGC...,NaN,NaN,NaN,NaN,"Weatherby Healthcare,219;Staffing Award,378;No...","100,Best Places,1632;5,consecutive years,1656;",NaN,NaN
3185,20150218230000-205,20150218230000,1,france24.com,http://www.france24.com/en/20150218-un-issue-f...,KILL#200##1#Liberia#LI#LI#6.5#-9.5#LI;,KILL#200##1#Liberia#LI#LI#6.5#-9.5#LI#1821;,TAX_DISEASE;TAX_DISEASE_EBOLA;TAX_WORLDFISH;TA...,"GENERAL_HEALTH,1311;MEDICAL,1311;TAX_DISEASE,1...","1#Guinea#LI#GV#11#-10#GV;4#Freetown, Western A...",...,"wc:307,c12.1:17,c12.10:30,c12.12:12,c12.13:14,...",http://scd.france24.com/en/files/imagecache/fr...,NaN,NaN,NaN,NaN,"United Nations,44;Sierra Leone,175;David Nabar...","3000000,dollars donated,180;31,donors since Se...",NaN,NaN
3186,20150218230000-206,20150218230000,1,rri.ro,http://www.rri.ro/en_gb/RadioRomaniaInternatio...,NaN,NaN,TAX_FNCACT;TAX_FNCACT_AUTHOR;MEDIA_MSM;TAX_FNC...,"TAX_FNCACT,13378;MEDIA_MSM,478;MEDIA_MSM,1389;...",NaN,...,"wc:1695,c12.1:40,c12.10:54,c12.12:15,c12.13:1,...",NaN,NaN,NaN,https://youtube.com/user/EugenCojocariu?featur...,NaN,"History Show,15982;CategoryType ParentCategory...","15,SELECT `Page` `id`,956;15,SELECT `Page` `id...",NaN,NaN
3187,20150218230000-207,20150218230000,1,sfgate.com,http://www.sfgate.com/business/article/Swiss-p...,NaN,NaN,TRIAL;TAX_FNCACT;TAX_FNCACT_PROSECUTORS;DRUG_T...,"TAX_ETHNICITY,1135;TAX_ETHNICITY,1236;TAX_WORL...","4#Geneva, Genè, Switzerland#SZ#SZ07#46.1956#6....",...,"wc:265,c12.1:8,c12.10:11,c12.12:5,c12.13:4,c12...",http://www.sfgate.com/img/pages/article/opengr...,NaN,NaN,NaN,591|29||the recent public revelations,"International Consortium,791;Investigative Jou...","1000000,of dollars for drug,152;1000000,of dol...",NaN,NaN

# 2 - Mention files

In [66]:

mention_data = pd.read_csv('20150218230000.mentions.csv', delimiter = '\t', engine='python', header=None, names=mentions_header)
mention_data.head()

,GLOBALEVENTID,EventTimeDate,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,SentenceID,Actor1CharOffset,Actor2CharOffset,ActionCharOffset,InRawText,Confidence,MentionDocLen,MentionDocTone,MentionDocTranslationInfo,Extras,Add New Fields
0,410412347,20150218230000,20150218230000,1,dailymaverick.co.za,http://www.dailymaverick.co.za/article/2015-02...,19,-1,4594,4634,1,50,6665,-4.477612,NaN,NaN,NaN
1,410412348,20150218230000,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,NaN
2,410412349,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1297,1232,0,10,2576,7.517084,NaN,NaN,NaN
3,410412350,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1298,1233,1,20,2576,7.517084,NaN,NaN,NaN
4,410412351,20150218230000,20150218230000,1,eastidahonews.com,http://www.eastidahonews.com/2015/02/neil-patr...,1,-1,103,122,1,100,1432,0.000000,NaN,NaN,NaN

In [77]:
# show most related events

mention_data.GLOBALEVENTID.value_counts()

410145910    30
410413618    17
410413648    17
410413647    17
410413644    16
             ..
410413191     1
410413190     1
410413189     1
410413188     1
410414617     1
Name: GLOBALEVENTID, Length: 5581, dtype: int64

In [122]:
# Add year + month + day columns


mention_data['year'] = mention_data['EventTimeDate'].apply(lambda x : int(str(x)[:4]))
mention_data['month'] = mention_data['EventTimeDate'].apply(lambda x : int(str(x)[4:6]))
mention_data['day'] = mention_data['EventTimeDate'].apply(lambda x : int(str(x)[6:8]))

In [123]:
mention_data

,GLOBALEVENTID,EventTimeDate,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,SentenceID,Actor1CharOffset,Actor2CharOffset,ActionCharOffset,InRawText,Confidence,MentionDocLen,MentionDocTone,MentionDocTranslationInfo,Extras,Add New Fields,year,month,day
0,410412347,20150218230000,20150218230000,1,dailymaverick.co.za,http://www.dailymaverick.co.za/article/2015-02...,19,-1,4594,4634,1,50,6665,-4.477612,NaN,NaN,NaN,2015,2,18
1,410412348,20150218230000,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,1,50,2541,2.078522,NaN,NaN,NaN,2015,2,18
2,410412349,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1297,1232,0,10,2576,7.517084,NaN,NaN,NaN,2015,2,18
3,410412350,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1298,1233,1,20,2576,7.517084,NaN,NaN,NaN,2015,2,18
4,410412351,20150218230000,20150218230000,1,eastidahonews.com,http://www.eastidahonews.com/2015/02/neil-patr...,1,-1,103,122,1,100,1432,0.000000,NaN,NaN,NaN,2015,2,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8457,410414615,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,442,0,20,1994,-3.703704,NaN,NaN,NaN,2015,2,18
8458,410414616,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,367,0,20,1994,-3.703704,NaN,NaN,NaN,2015,2,18
8459,410232648,20150218100000,20150218230000,1,suttonguardian.co.uk,http://www.suttonguardian.co.uk/news/national/...,6,1870,-1,1803,1,100,5040,-0.738916,NaN,NaN,NaN,2015,2,18
8460,410339294,20150218171500,20150218230000,1,edgeboston.com,http://www.edgeboston.com/entertainment/celebr...,2,454,-1,411,1,50,858,6.250000,NaN,NaN,NaN,2015,2,18
8461,410414617,20150218230000,20150218230000,1,bbg.gov,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...,1,318,-1,345,1,100,1584,-0.411523,NaN,NaN,NaN,2015,2,18

# 3 - Export/Event Files

In [136]:

export_data = pd.read_csv('20150218230000.export.csv', delimiter = '\t', engine='python', header=None, names=events_header)
export_data.columns
# export_data.Actor1CountryCode.value_counts()

Index(['GLOBALEVENTID', 'SQLDATE', 'MonthYear', 'Year', 'FractionDate',
       'Actor1Code', 'Actor1Name', 'Actor1CountryCode', 'Actor1KnownGroupCode',
       'Actor1EthnicCode', 'Actor1Religion1Code', 'Actor1Religion2Code',
       'Actor1Type1Code', 'Actor1Type2Code', 'Actor1Type3Code', 'Actor2Code',
       'Actor2Name', 'Actor2CountryCode', 'Actor2KnownGroupCode',
       'Actor2EthnicCode', 'Actor2Religion1Code', 'Actor2Religion2Code',
       'Actor2Type1Code', 'Actor2Type2Code', 'Actor2Type3Code', 'IsRootEvent',
       'EventCode', 'EventBaseCode', 'EventRootCode', 'QuadClass',
       'GoldsteinScale', 'NumMentions', 'NumSources', 'NumArticles', 'AvgTone',
       'Actor1Geo_Type', 'Actor1Geo_FullName', 'Actor1Geo_CountryCode',
       'Actor1Geo_ADM1Code', 'Actor1Geo_ADM2Code', 'Actor1Geo_Lat',
       'Actor1Geo_Long', 'Actor1Geo_FeatureID', 'Actor2Geo_Type',
       'Actor2Geo_FullName', 'Actor2Geo_CountryCode', 'Actor2Geo_ADM1Code',
       'Actor2Geo_ADM2Code', 'Actor2Geo_Lat', 'Actor2Geo_Long',
       'Actor2Geo_FeatureID', 'ActionGeo_Type', 'ActionGeo_FullName',
       'ActionGeo_CountryCode', 'ActionGeo_ADM1Code', 'ActionGeo_ADM2Code',
       'ActionGeo_Lat', 'ActionGeo_Long', 'ActionGeo_FeatureID', 'DATEADDED',
       'SOURCEURL'],
      dtype='object')

# Requêtes

# #1

In [137]:
request1 = export_data.groupby(by= [ 'ActionGeo_CountryCode', 'FractionDate']).count().GLOBALEVENTID.to_frame(name='Count')#.sort_values(by=['ActionGeo_CountryCode', 'Count'], ascending= False)

                                    Count
ActionGeo_CountryCode FractionDate
AE                    2015.1315         1
AF                    2015.1315        10
AG                    2015.1315         7
AJ                    2015.1315         1
AR                    2015.1315        11
...                                   ...
WE                    2015.1315        10
WS                    2015.1315         2
YM                    2015.1315        24
ZA                    2015.1123         2
                      2015.1315        10

[113 rows x 1 columns]

# #2

In [82]:
# join export files with mention files to get most related events per country 


join_df = mention_data.merge(export_data, on= 'GLOBALEVENTID', how='left')

,GLOBALEVENTID,EventTimeDate,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,SentenceID,Actor1CharOffset,Actor2CharOffset,ActionCharOffset,...,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,410412347,20150218230000,20150218230000,1,dailymaverick.co.za,http://www.dailymaverick.co.za/article/2015-02...,19,-1,4594,4634,...,4.0,"Waterkloof, Free State, South Africa",SF,SF03,77359,-30.3098,25.2971,-1299321,2.015022e+13,http://www.dailymaverick.co.za/article/2015-02...
1,410412348,20150218230000,20150218230000,1,indiatimes.com,http://timesofindia.indiatimes.com/city/bengal...,2,-1,300,344,...,4.0,"Bengaluru, Karnataka, India",IN,IN19,70159,12.9833,77.5833,-2090174,2.015022e+13,http://timesofindia.indiatimes.com/city/bengal...
2,410412349,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1297,1232,...,4.0,"Great Southern, Victoria, Australia",AS,AS07,5387,-36.0667,146.4830,-1576477,2.015022e+13,http://www.voxy.co.nz/entertainment/coast-new-...
3,410412350,20150218230000,20150218230000,1,voxy.co.nz,http://www.voxy.co.nz/entertainment/coast-new-...,4,-1,1298,1233,...,1.0,New Zealand,NZ,NZ,NaN,-41.0000,174.0000,NZ,2.015022e+13,http://www.voxy.co.nz/entertainment/coast-new-...
4,410412351,20150218230000,20150218230000,1,eastidahonews.com,http://www.eastidahonews.com/2015/02/neil-patr...,1,-1,103,122,...,2.0,"Idaho, United States",US,USID,NaN,44.2394,-114.5100,ID,2.015022e+13,http://www.eastidahonews.com/2015/02/neil-patr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8457,410414615,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,442,...,4.0,"Islamabad, Islamabad, Pakistan",PK,PK08,23674,33.7000,73.1667,-2762812,2.015022e+13,http://www.dailytimes.com.pk/national/19-Feb-2...
8458,410414616,20150218230000,20150218230000,1,dailytimes.com.pk,http://www.dailytimes.com.pk/national/19-Feb-2...,3,396,424,367,...,4.0,"Agha Muhammad, Balochistan, Pakistan",PK,PK02,3606,30.5699,66.5961,356668,2.015022e+13,http://www.dailytimes.com.pk/national/19-Feb-2...
8459,410232648,20150218100000,20150218230000,1,suttonguardian.co.uk,http://www.suttonguardian.co.uk/news/national/...,6,1870,-1,1803,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8460,410339294,20150218171500,20150218230000,1,edgeboston.com,http://www.edgeboston.com/entertainment/celebr...,2,454,-1,411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8461,410414617,20150218230000,20150218230000,1,bbg.gov,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...,1,318,-1,345,...,4.0,"Amdo, Xizang, China",CH,CH14,13213,32.3333,91.6667,-1920650,2.015022e+13,http://www.bbg.gov/blog/2015/02/18/rfas-tibeta...

In [106]:
request2 = join_df.groupby(by = ['Actor1Code','GLOBALEVENTID']).count().EventTimeDate.to_frame(name='Count').sort_values(by=['Actor1Code', 'Count'], ascending= False)
request2

                          Count
Actor1Code GLOBALEVENTID
tib        410414617          1
ran        410414613          1
           410414614          1
           410414615          1
           410414616          1
...                         ...
AFG        410412637          1
           410412638          1
           410412639          1
           410412640          1
           410412641          1

[2078 rows x 1 columns]

In [108]:
request2.loc['AFG']

               Count
GLOBALEVENTID
410412627          1
410412628          1
410412629          1
410412630          1
410412631          1
410412632          1
410412633          1
410412634          1
410412635          1
410412636          1
410412637          1
410412638          1
410412639          1
410412640          1
410412641          1

In [149]:
# directement avec un pays en paramètre

join_df.loc[join_df['Actor1Code'] == 'USA'].GLOBALEVENTID.value_counts()

410414431    14
410412391     4
410412392     4
410412393     4
410412394     4
             ..
410414253     1
410414251     1
410414250     1
410414249     1
410414480     1
Name: GLOBALEVENTID, Length: 342, dtype: int64

# #3

In [182]:
gkg_data

#liste des sources des articles
sources = gkg_data['SourceCommonName'].unique()

# pour une source donnée, date des articles, thèmes....
request3 = gkg_data.loc[gkg_data['SourceCommonName'] == 'BBC Monitoring', ['DATE','SourceCommonName', 'Themes', 'Locations', 'Persons','V2Tone']]

request3.columns

Index(['DATE', 'SourceCommonName', 'Themes', 'Locations', 'Persons', 'V2Tone'], dtype='object')

In [183]:
#ajouter données temporelles et garder seulement le ton moyen, spliter les themes, lieux et personnes

request3['year'] = request3['DATE'].apply(lambda x : int(str(x)[:4]))
request3['month'] = request3['DATE'].apply(lambda x : int(str(x)[4:6]))
request3['day'] = request3['DATE'].apply(lambda x : int(str(x)[6:8]))
request3['V2Tone'] = request3['V2Tone'].apply(lambda x  : float((x.split(',')[0])))
request3['Themes'] = request3['Themes'].apply(lambda x  : (x.split(';')))
request3['Locations'] = request3['Locations'].apply(lambda x  : (x.split('#')))
request3['Persons'] = request3['Persons'].apply(lambda x  : (x.split(';')))


request3

,DATE,SourceCommonName,Themes,Locations,Persons,V2Tone,year,month,day
0,20150218230000,BBC Monitoring,"[TERROR, REBELS, TAX_ETHNICITY, TAX_ETHNICITY_...","[4, Budapest, Budapest, Hungary, RS, HU05, 47....","[petro poroshenko, arkadiy dvorkovich, gen ale...",-5.347594,2015,2,18
1,20150218230000,BBC Monitoring,"[TAX_FNCACT, TAX_FNCACT_ENVOY, TAX_ETHNICITY, ...","[1, Qatar, SA, QA, 25.5, 51.25, QA;1, Syria, S...","[al-arab kobane, emrullah isler, nasirite alaw...",-0.540541,2015,2,18

In [180]:
# ton moyen par année, mois, jour
# le ton moyen de l'article est la première valeur 

request3.loc[(request3['year'] == 2015) & (request3['month'] == 2) & (request3['day'] == 18), 'V2Tone'].mean()

-2.94406706171412

# #4

In [186]:
gkg_data.DocumentIdentifier

0            as listed in Russian /BBC Monitoring/(c) BBC
1       Al-Sharq al-Awsat website, London/BBC Monitori...
2       http://wjon.com/wjon-news-on-demand-wednesday-...
3       http://www.wjol.com/common/more.php?m=15&r=3&i...
4       http://www.straitstimes.com:80/news/world/unit...
                              ...
3183    http://www.theaustralian.com.au/business/finan...
3184    http://finance.yahoo.com/news/chg-healthcare-s...
3185    http://www.france24.com/en/20150218-un-issue-f...
3186    http://www.rri.ro/en_gb/RadioRomaniaInternatio...
3187    http://www.sfgate.com/business/article/Swiss-p...
Name: DocumentIdentifier, Length: 3188, dtype: object

In [ ]:
request4 = gkg_data[]

# en cours